Creat a csv file, "commas separated files"

In [6]:
import os
os.makedirs(os.path.join('..','data'),exist_ok=True)
data_file = os.path.join('..','data','house_tiny.csv')
with open(data_file,'w')as f:
    f.write('NumRooms, Alley, Price\n')
    f.write('NA,pave,127500\n')
    f.write('2,NA,10600\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [7]:
import pandas as pd
data=pd.read_csv(data_file)
print(data)

   NumRooms  Alley   Price
0       NaN   pave  127500
1       2.0    NaN   10600
2       4.0    NaN  178100
3       NaN    NaN  140000

Without using print(data) it shows in html format.

In [8]:
data

   NumRooms  Alley   Price
0       NaN   pave  127500
1       2.0    NaN   10600
2       4.0    NaN  178100
3       NaN    NaN  140000

Data preprocessing: deal with the loss number

In [21]:
# copy column0, column1 into "input"
inputs=data.iloc[:, 0:2]
# copy column2 into "output"
outputs=data.iloc[:,2]

#change all the non number iterm to the mean
inputs=inputs.fillna(inputs.mean())
inputs

#fillna() stands for "fill not available" and is used to replace missing values in a pandas DataFrame or Series with specified values.

/var/folders/pj/5by5d9js31x6rmjh69_05jp80000gn/T/ipykernel_64531/2042797617.py:7: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  inputs=inputs.fillna(inputs.mean())

   NumRooms  Alley
0       3.0   pave
1       2.0    NaN
2       4.0    NaN
3       3.0    NaN

In [23]:
# deal with the non-number item, discrete value
inputs=pd.get_dummies(inputs,dummy_na=True)
print(inputs)

   NumRooms   Alley_pave   Alley_nan
0       3.0            1           0
1       2.0            0           1
2       4.0            0           1
3       3.0            0           1

In [ ]:
#convert the csv file into a tensor

In [26]:
import torch

In [28]:
X=torch.tensor(inputs.values)
y=torch.tensor(outputs.values)
X,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500,  10600, 178100, 140000]))